@page
@model BookManagementWebAppRazor.Pages.LoginModel
@{
}


<form method="post" asp-page-handler="LoginToSystem">
    <input type="submit" value="submit" />
</form>

<form method="post" asp-page-handler="Logout">
    <input type="submit" value="LogOut" />
</form>